<div class="sidebar sticky-top">
  {% if page.path contains '_posts' %}
  <div class="sidebar-section">
    <h5><span>{{site.t[page.lang].latestPosts}}</span></h5>
    <ul class="post-list">
      {% assign posts = site.posts | where:"lang", page.lang %}
      {% for post in posts limit: 5 %}
      <li><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}

  <div class="sidebar-section">
    <h5><span>{{site.t[page.lang].tags}}</span></h5>
    <ul class="tags">
      {% for category in site.categories %}
      {% assign selectedPosts = category.last | where:"lang", page.lang %}
      {% if selectedPosts.size > 0 %}

      <li>
        <a href="{{site.baseurl}}/{{page.lang}}/{{ category[0] | slugify }}">{{category[0] }}</a>
      </li>
      {% endif %}
      {% endfor %}
    </ul>
  </div>

  {% if {{site.sidebar_ad}} == true %}
  <div class="sidebar-section">
    <h5><span>{{site.t[page.lang].adsTitle}}</span></h5>
    <img class="mx-auto d-block" src="{{site.baseurl}}/assets/images/ad_sidebar.png">
  </div>
  {% endif %}
</div>