---
title: Home
layout: default
description: "Tutorials and articles about Android, apps, Play Store."
permalink: "/en/index.html"
lang: en
lang-ref: home-en
---

<!-- Posts List with Sidebar (except featured)
  ================================================== -->
<section class="row">
  <div class="col-md-12">
    <div class="row">
      {% assign posts = site.posts | where:"lang", page.lang %}
      {% for post in posts %}
      {% unless post.featured == true %}
      <div class="col-md-12 mb-3">
        {% include postbox.html %}
      </div>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <div class="navigation" role="navigation">
        {% include pagination.html %}
      </div>
    </div>
  </div>
</section>