---
layout: default
lang-ref: apps_games_categories
---

<!-- Posts List with Sidebar (except featured)
  ================================================== -->
<div class="row">

  <div class="col-md-12">

    <div class="rounded mb-5">
      <h1>Android Apps & Games</h1>
    </div>

    <div class="row">
      {% assign category_posts = site.posts | where:"lang", page.lang | where_exp: "post", "post.categories contains
      'Apps' or post.categories contains 'Games'" %}
      {% for post in category_posts %}
      {% unless post.featured == true %}
      <section class="col-md-12 mb-2">
        {% include postbox.html %}
      </section>
      {% endunless %}
      {% endfor %}
    </div>
    <!-- Pagination -->
    <div class="bottompagination">
      <div class="navigation" role="navigation">
        {% include pagination.html %}
      </div>
    </div>
  </div>
</div>